.nav-bar{
    background-color:var(--white);
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}

.btn-nav{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.btn-nav button{
    font-size: 1.1rem;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn-login{
    background-color:var(--grey-text);
    color:var(--white)
}

.btn-login:hover{
    background-color: var(--green);
}
.btn-icon,.nav-title{
    color: var(--grey-text);
}

.btn-icon:hover{
    color: var(--green);

}